.top{
    width: 100%;
    height: 10px;
    background-color: white;
    padding-bottom: 15px;
}
/*.wrap{*/
    /*width: 1200px;*/
    /*margin:0 auto;*/
/*}*/
.wrap{
    width: 100%;
    margin:0 auto;
}
.logo{
    height: 6.67%;
}
.logo_left{
    width: 22%;
    float: left;
}
.logo_left img{
    width: 20.8%;
    height: 10.8%;
    float: left;
}
.logo_right{

}
.clear{
    clear: both;
}
.wrap-line{
    width: 100%;
    height: 10px;
    background-color: #e51937;
    padding-top:1px;
    padding-bottom:5px;
}
section.container{
    clear:both;
    width: 100%;
    /*padding-top: 36px;*/
}

/*#center{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*-webkit-transform: translateY(-50%);*/
    /*-moz-transform:  translateY(-50%);*/
    /*-ms-transform:  translateY(-50%);*/
    /*-o-transform:  translateY(-50%);*/
    /*transform:  translateY(-50%);*/
/*}*/

.entry-button{
    padding-bottom: 10%;
}

.system-name h1,p{
    color: #e51937;

}

.carousel{
    background-color: #000000;
}
.carousel .item{
    background-color: #000000;
}
.carousel img{
    width: 100%;
}
.header-title{
    text-align: center;
    font-size: medium;
    line-height: 45px;
    /*color: #aa314d;*/
    color:#d43f3a;
}

