.uk-article-title{
    font-weight:bold;
    text-align: center;
}
.conf-content{
    /*padding-top: 2%;*/

    margin-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: 40%;
}
.firstTable th{
    /*background-color: red;*/
    /*color: white;*/
    font-size: 2em;
    height: 2.2em;
    text-align: center;
}
.firstTable td{
    font-size:1.5em;
    text-align: center;
}
/*#myCEPSModal tr th{*/
    /*width: 25% !important;*/
/*}*/
/*#myCEPSModal input{*/
    /*width: 80%;*/
/*}*/
.changeSelect{
    width: 100% !important;
    height: 100%;
    font-size: 1em;
}

/*更改安全信息配置的前三个表格宽度*/
.safe table tr th:nth-child(1),.safe table tr th:nth-child(2),.safe table tr th:nth-child(3),
.quality table tr th:nth-child(1),.quality table tr th:nth-child(2),.quality table tr th:nth-child(3){
    width: 25%;
}